<footer class="footer py-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 text-lg-start text-muted">Copyright &copy; ZM Reborn Team 2021</div>
            <div class="col-lg-4 my-3 my-lg-0">
                {% for link in socialLinks %}
                    <a class="btn btn-dark btn-social mx-2" href="{{ link.href }}" alt="{{ link.name }}" target="_blank"><i class="fab {{ link.icon }}"></i></a>
                {% endfor %}
            </div>
            <div class="col-lg-4 text-lg-end">
                <a class="link-dark text-decoration-none me-3" href="https://github.com/zm-reborn/zmr-website-new" target="_blank">Source Code</a>
            </div>
        </div>
    </div>
</footer>