<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- SEO -->
    <meta name="title" content="{{ title or site.title }}" />
    <meta name="description" content="{{ description or site.description }}" />
    <meta name="keywords" content="zombie, master, reborn, half-life, hl2, modification, mod" />
    <meta name="author" content="ZM Reborn Team" />
    <meta name="thumbnail" content="{{ site.url }}/assets/og_image.jpg" />

    <!-- OpenGraph -->
    <meta property="og:url" content="{{ site.url }}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ title or site.title }}" />
    <meta property="og:description" content="{{ description or site.description }}" />
    <meta property="og:image" content="{{ site.url }}/assets/og_image.jpg" />

    <title>{{ title or site.title }}</title>

    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/assets/icon.png" />
    <!-- Font Awesome icons (free version)-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/styles.css" rel="stylesheet" type="text/css" />
    <link href="/css/overrides.css" rel="stylesheet" type="text/css" />
</head>
