---
eleventyExcludeFromCollections: true

permalink: /blog/

navigation:
  - name: Play
    href: '/#play'
  - name: Blog
    href: '#blog'
    current: true
---
<!DOCTYPE html>
<html lang="en">
    {% include "head.njk" %}
    <body>
        {% include "nav-bar.njk" %}

        <section class="page-section" id="blog">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Blog</h2>
                    <h3 class="section-subheading text-muted">Read about it here!</h3>
                </div>
                <div class="row">
                    {%- for article in collections.all | reverse %}
                        <div class="col-sm-6">
                            <img class="" src="{{ article.data.image }}" style="max-width: 100%"/>
                            <a href="{{ article.url }}">
                                <h4>{{ article.data.title }}</h4>
                                <h4 class="subheading">{{ article.data.date.toDateString() }}</h4>
                            <a/>
                            <p class="text-muted">{{ article.data.description }}</p>
                        </div>
                    {%- endfor %}
                </div>
                <!-- old -->
                <!--
                <ul class="timeline">
                    {% for article in collections.all | reverse %}
                        <li>
                            <div class="timeline-image" style="background-image: url({{ article.data.image }})"></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <a href="{{ article.url }}">
                                        <h4>{{ article.data.title }}</h4>
                                        <h4 class="subheading">{{ article.data.date.toDateString() }}</h4>
                                    <a/>
                                </div>
                                <div class="timeline-body"><p class="text-muted">{{ article.data.description }}</p></div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                -->
            </div>
        </section>
        {% include "footer.njk" %}

        {% include "body-end.njk" %}
    </body>
</html>