name: CI/CD

on:
  push:
    branches: [ master, dev ]
    paths-ignore:
      - 'README.md'
      - 'src_assets/**'
  pull_request:
    branches: [ master, dev ]
  
  workflow_dispatch:

jobs:
  build:
    name: Build App
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      
      - name: Setup Node.js
        uses: actions/setup-node@v2

      - name: Run install
        run: npm install

      - name: Build site
        run: npm run build

      - name: Upload artifact
        uses: actions/upload-artifact@v2
        with:
          name: site-output
          path: ./_site
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    needs: build
    if: github.ref == 'refs/heads/master' # Only deploy on push to master
    steps:
      - name: Download site artifact
        uses: actions/download-artifact@v2
        with:
          name: site-output
      - name: Deploy to gh-pages branch
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: .
          publish_branch: gh-pages
